.active {
  background-color: #000;
  border-radius: 30px;
  color: #fff !important;
  a {
    color: #fff
  }
}

.navLink {
  height: 46px;
  background-color: #F9F9F9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;

  @media screen and (max-width: 768px) {
    height: 30px;
  }

  &:hover {
    background-color: #777676;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding: 10px 23px;
    }

    &:hover {
      color: #fff;
    }
  }
}

.navLinkAll {
  height: 46px;
  background-color: #ff9f9f;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;

  @media screen and (max-width: 768px) {
    height: 30px;
  }

  &:hover {
    background-color: #777676;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #ff9f9f;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding: 10px 23px;
    }

    &:active {
      background-color: red;
    }


    &:hover {
      color: #fff;
    }
  }
}